.form-control{
    height: auto !important;
}

.controle{
    height: 250px;
    overflow: scroll;
}

.fundo-sequencia{
   background-color: #ccc;
   border-bottom: 1px solid #337ab7;
   height: 20px;
   float: left;
   position: relative;
}

.sequencia{
   /* margin-bottom: 0px; */
   color: white;
   background-color: #5bc0de;
   height: 18px;
   border: none;
   width: 1px;
   float: left;
}

.letra{
  width: 10px;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
}

.sequencia:hover{
   background-color: #337ab7;
}

.sequencia span{
  display: none;
  line-height: 10px;
}

.sequencia .letra{
  display: block;
}

.selected{
   background-color: #777;
}

.ocorrencia{
   height: 16px;
   clear:left;
   position:relative;
   border-left: 1px solid #777;
   border-right: 1px solid #777;
   border-bottom: 3px solid #4169E1;
   margin-top:5px;
   font-size: 9px;
   font-weight: bold;
   text-align: right;
   color: #4169E1;
   padding-right: 2px;
}

.page-header{
   padding-bottom: 0px !important;
   margin: 10px 0 5px;
   border-bottom: none;
}

.bs-callout-warning h4 {
   color: #aa6708;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.lbl{
	font-size: 14px;
	color:#787878;
}

.panel{
  margin-bottom: 10px !important;
  margin-left: 10px;
  margin-right: 10px;
}

.panel-body{
   padding: 5px !important;
}

.panel-heading{
	padding: 2px;
}

hr{
	border: 1px solid #eee;
	margin: 0px;
	margin-bottom: 5px;
}

.help{
	margin-left: 5px;
	background-image: url('/public/images/help.png');
	height: 16px;
	width: 16px;
	float: right;
}

.help:hover{
    text-decoration: none;   
}

.bloco-head{
	background-color: #f8f1f1; 
	margin-bottom: 0px !important;
	border-radius: 0px;
}

.bloco{
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: white;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  clear: both;
  margin-bottom: 5px;
}

#j{
   font-size: 10px;
   color: #777;
   position: relative;
}

#j-distancia{
	font-size: 10px;
	color: #777;
	top: -11px;
	position: relative
}

#r{
  font-size: 9px;
  color: #777;
  font-weight: bold;
  top: -15px;
  display: inline-block;
  position: relative;

}

.margem-10{
   margin: 10px;
}

.maior, .menor{
 /* background-color: #337ab7;
  padding: 0px;
  height: 10px;
  position: relative;
  float: left;
  top: 2px;
  width: 1px;
  margin: 0px; */
}

.div-ajax-carregamento-pagina{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999997;
    /* transparência compatível com os navegadores comuns.*/
    opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
    background: black;
    text-align: center;
}

#prime{
   word-break: break-all;
   font-size: 12px;
   font-weight: normal;
}

.maior{
  background-color: #d9534f;
}

.menor{
  background-color: #5cb85c;
}

.alert{
	margin: 30px;
}

.alert ul{

}
.alert li{
   margin-left: 28px;
   padding: 5px;
}

.beta-nome, .alfa-nome{
   font-weight: bold;
}

.beta-tamanho, .alfa-tamanho{
   font-size: 11px;
   color: #777;
   margin-left: 5px;
}
.badge a{
  color: white;
}

.head{
   position: fixed;
   display: block;
   height: 95px;
   width: 100%;
   background-color: white;
   z-index: 1000;
   left: 0;
   -moz-box-shadow: 0px 1px 10px #777;
   -webkit-box-shadow: 0px 1px 10px #777;
   box-shadow: 0px 1px 10px #777;
}

.head .page-header{
   margin: 0px;
   
}

.head .page-header p{
	font-size: 12px;
	color: #3c3939;
}

.head .logo img{
   margin: 3px;
   float: left;   
}

.head h1{
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 5px;
	background-color: #3573AA;
	top: 0;
	margin-bottom: 3px;
}

.head  small{
	color: white;
	margin-left: 30px;
}

.head .info {
 // float: right;
  display: inline-block;
 // font-size:11px;
  color: #bfbaba;
}

.head .config{
   display: inline-block;
   width: 120px;
   height: 90px;
   padding-top: 25px;
   float: right;
   margin-left: 6px;
   margin-right: 10px;
}

.head .titulo{
   border-top: 1px solid #f1f1f1;
   font-size: 22px;
   margin-bottom: 5px;
   padding-left: 8px;
   color: #777;
   padding-top: 3px;
   font-weight: bold;
   margin-left: 5px;
}

.direitos{
  float: right;
  font-size: 11px;
  margin-right: 10px;
}

.link-ocorrencia{
   cursor: pointer;
   font-size: 10px;
}

.config .btn{
  background-color: #f9f9f9;
  border: 1px solid #fff;
}

.config .btn:hover{
  color: #fff;
  background-color: #563d7c;
}

.config .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.config .glyphicon-class {
   display: block;
}

#dialog{
   background-color: white;
   width: 300px;
   position: absolute;
   bottom: 0;
   right: 0;
}

#dialog img{
   width: 100px;
}

.info-nome{
   margin-left: 80px;
   width: 150px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   border: 1px solid #000000;
}

.info-nome:hover {
    text-overflow: inherit;
    overflow: visible;
}

.info-info{
   width: 300px;
}

.body{
   top: 180px;
   display: block;
   position: absolute;
   overflow-x: hidden;
   overflow-y: auto;
   height: 480px;
   left: 0;
   width: 100%;
}

.salvar {
    font-size: 16px;
}

.zoom{
  right: 0;
  border-left: 1px solid #ddd;
  display: inline-block;
  float: right;
  /* margin-top: 3px; */
  padding: 10px;
}

.sequencia-alfa-bloco{
  margin-left: 10px;
  width: 500px;
  display: inline-block;
  margin-top: 5px;
}

#foo{
  float:left;
  clear:left;
}

.td-maior{
  border-left: 10px solid #d9534f;
}

.td-menor{
  border-left: 10px solid #5cb85c;
}

.table{
  background-color: white;
}

.buscar{
  display: block;
  width: 400px;
  float: left;
  margin-left: 10px;
}

#files{
  display: none;
  width: 0px;
  height : 0px;
}

.input-sequencia{
  height: 70px;
}

.sequencia-file{
  background-color: #ccc;
  border-bottom: 1px solid #337ab7;
  font-size: 11px;
  display: inline;
  padding: 1px;
}

.sequencia-nome{
   font-weight: bold;
   font-size: 10px;
}

.sequencia-well{
  padding: 5px;
}

input[type=checkbox] + label {
    color: #777;
}

input[type=checkbox] + input {

}

input[type=checkbox]:checked + label {
    color: #000;
}

.jFiler-items-default .jFiler-item-assets a:hover{
	text-decoration: none;
}

.jFiler{
	margin-top: 2px;
}

.jFiler-input{
  border-radius: 0px !important;
  margin: 0px !important;
}

.jFiler-item{
  border-bottom: 1px solid #ccc;
}


.load{
	margin: 10px;
	float: left;	
}

#valor{
	font-size:12px;
}

.span-resultado{
	font-size: 12px;
	color: #777;
}

.botao-maior{
	float: left;	
}

.botao-maior, .botao-menor{
	margin: 1px;
	border-right: 1px solid #ddd;
	padding-right: 2px;
	margin-left: 3px;
	display: inline-block;
}

.badge{
	margin-top: 5px;
	font-size: 10px;
}

.regua{
	font-size: 9px;
	font-family: text;
	display: inline-block;
	width: 100px;
	border-left: 1px solid #bbb;
	margin: 0px;
	height: 20px;
	padding: 0px;
	padding-left: 2px;
	background: url('/public/images/regua.png') no-repeat;
	float: left;
}

.primeira{
	width: 99px;
}

.fim{
	border-right: 1px solid #bbb;
}


#letra{
	width: 0px;
}

.tooltip-inner{
	max-width: none;
}

.zoom-meio{
	background-color: #cccccc;
	width: 50px;	
}

.zoom .btn-group .btn{
	border: 1px solid #286090;
}

#table td{
	padding: 2px;	
}

.acgt{
	cursor: pointer;
}

#resultado-distancia{
	height: 30px;
	border-left: 1px solid #888844;
	border-right: 1px solid #888844;
	border-bottom: 1px dotted #002b80;
	float: left;
	clear: both;
	position: relative;
	top: -35px;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	line-height: 5;
	color: #33331a;	
}

.distancia-segmento{
	border-left: 3px solid #4169E1;
	padding-left: 2px;
}

#ocr-distancia{
	float: left;
	position: relative;
	top: -64px;
}

.label-warning{
	margin-left: 3px;
}

.badge{
	margin-top: 0px;
}
