.form-control{
    height: auto !important;
}

.controle{
    height: 250px;
    overflow: scroll;
}

.fundo-sequencia{
   background-color: #ccc;
   border-bottom: 1px solid #337ab7;
}

.sequencia{
   font-size: 10px;
   margin-bottom: 0px;
   color: white;
   background-color: #5bc0de;
   height: 18px;
   line-height: 18px;
   text-align: right;
   padding-right: 5px;
}

.ocorrencia{
   background-color: #f0ad4e;
   height: 12px;
   //margin-top: 1px;
   position:relative;
   top: -25px;
   border-left: 1px solid #777;
   border-right: 1px solid #777;
}

.page-header{
   padding-bottom: 0px !important;
   margin: 10px 0 5px;
   border-bottom: none;
}

.bs-callout-warning h4 {
   color: #aa6708;
}

.panel{
  margin-bottom: 10px !important;
}

.panel-body{
   padding: 5px !important;
}

.bordas{
  height: 20px;
  position: relative;
  top: -20px;
  background-color: #777;
  border: none;
  width: 1px;
  display: inline-block;
}

.bloco{
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  border: 1px solid #286090;
  background-color: #ebf3fa;
  height: 90px;
}

#j{
   font-size: 10px;
   color: #777;
}

#r{
  font-size: 9px;
  color: #777;
  font-weight: bold;
  top: -30px;
  display: inline-block;
  position: relative;
}

.margem-10{
   margin: 10px;
}

#maior, #menor, #mouse{
  background-color: #337ab7;
  padding: 0px;
  height: 10px;
  position: absolute;
  top: 177px;
}

.div-ajax-carregamento-pagina{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999997;
    /* transparência compatível com os navegadores comuns.*/
    opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
    background: black;
    text-align: center;
}

#prime{
   word-break: break-all;
   font-size: 12px;
   font-weight: normal;
}

#maior{
  background-color: #d9534f;
}

#menor{
  background-color: #5cb85c;
}

.alert ul{

}
.alert li{
   margin-left: 28px;
   padding: 5px;
}