#{extends 'main.html' /}
#{set title:'Web Primers [início]' /}
#{set pagina:'Novo processamento' /}

<link href="@{'/public/stylesheets/jquery.filer.css'}" rel="stylesheet">
<script src="@{'/public/javascripts/jquery.filer.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>

  #{form @Application.process(), enctype:'multipart/form-data', id:'formulario' }

    #{set 'controles'}
      <input id="processar-top" class="btn btn-primary processar" type="submit" value="Processar">
      <a id="recuperar-top" class="btn btn-default" href="/processamento">Recuperar resultado</a>
    #{/set}

    <div class="panel panel-info">
      <div class="panel-heading">Sequência modelo</div>
      <div class="panel-body">
        <div class="row"> 
          <div class="col-md-8" >                    
       
            <a href="#" style="float: right;" id="clear-alfa" >Limpar</a>
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-8">   
        		<textarea id="alfa-texto" name="parametro.textoAlfa" placeholder="Digite a sequência ou FASTA sequência"
                      rows="4" maxlength="1000" style="resize: none"
                      class="form-control"></textarea>
            </div>
            <div class="col-md-4">          
              
              <label class="titulo">Intervalo de processamento</label>
              
               <hr />
               
               <label for="jInicio" class="control-label">de:</label>

               <input id="jInicio" type="text" class="form-control" name="parametro.jInicio"
                           style="width: 50px; display: inline"
                           title="A posição de inicio de processamento da sequência alvo.">

               <label for="jFim" class="control-label">até:</label>

               <input id="jFim" type="text" class="form-control"
                           name="parametro.jFim" style="width: 60px; display: inline"
                           title="A posição de fim de processamento da sequência alvo.">
             </div>  
                    
        </div>
        <div class="row">
            <label class="lbl load">Ou, carregue um arquivo</label>
            <input id="alfa" type="file" class="form-control" name="parametro.alfa" >
        </div>  
        
        <div class="row" style="margin-top: 5px">
          <label for="k" class="col-sm-2 control-label">Diferenças:</label>
          <div class="col-sm-1">
            <input id="k" type="text" class="form-control" placeholder="1" name="parametro.k">
          </div> 
          <span class="help-block">Digite a quantidade de diferenças desejada.<br/>
          O valor deve estar entre 1 e o tamanho da sequência alvo.</span>
       </div>
              
       </div>
    </div>
    
    <div class="panel panel-info">  
    <div class="panel-heading">Sequência(s) de comparação</div>    
      <div class="panel-body">
      	<div class="row">        
	      	<div class="col-md-8" >  	     
	          <a href="#" style="float:right;" id="clear-beta">Limpar</a>	          
	        </div>
	        
        </div>
        <div class="row">
        	<div class="col-md-8" > 
        		<textarea id="beta-texto" name="parametro.textoBeta" 
        		placeholder="Digite a sequência de comparação ou FASTA sequência"
                       rows="4" maxlength="1000" style="resize: none"
                       class="form-control"></textarea>
            </div>
            <div class="col-md-4">          
              
              <label class="titulo">Tipo de sequências</label>
              
               <hr />
               <label class="radio" style="margin-left: 20px">
	               <input type="radio" name="parametro.tipoSequencia" 
	               id="sequencia-diferente" value="DIFERENTES"
	               data-toggle="tooltip" title="As sequências de comparação são diferentes"
	               checked="checked"> Sequências diferentes
               </label>
               <label class="radio" style="margin-left: 20px">
	               <input type="radio" name="parametro.tipoSequencia" 
	               id="sequencia-semelhante" value="PARECIDAS"
	               data-toggle="tooltip" title="As sequências de comparação são semelhantes"
	               > Sequências semelhantes
	           </label>    
             </div>
        </div>
        <div class="row">
           <label class="lbl load">Ou, carregue um arquivo</label>
           <input id="beta" type="file" class="form-control" name="parametro.beta" multiple="multiple" >
        </div>
	  </div>	
	 
	</div>
	
	<div class="panel panel-info">  
    	<div class="panel-heading"><span class="glyphicon glyphicon-filter"></span> Filtros e opções</div>      	   	
    	
    	<div class="col-md-6">
    		<div class="checkbox" style="margin-left: 25px;">
              <input type="checkbox" name="parametro.mostrarDistancia" id="mostrar-distancia" />
              <label for="mostrar-distancia" >Mostrar apenas ocorrências distantes
                <input id="distancia" type="text" class="form-control" name="parametro.distancia"
                       style="width: 50px; display: inline" /> caracteres uma da outra.
              </label>
            </div>

            <div class="checkbox" style="margin-left: 25px;">
              <input type="checkbox" name="parametro.mostrarLimiteCaracteres" id="limite-caracteres" />
              <label for="limite-caracteres">Mostrar apenas ocorrências com tamanho até
                <input type="text" class="form-control" name="parametro.limiteCaracteres"
                       id="limite"
                       style="width: 50px; display: inline" /> caracteres.</span>
              </label>
            </div>
    	</div>    
	  </div>
	
    <input type="file" id="files" visbility="hidden" hidden />
  #{/form}

<script>
        $( document ).ready(function() {

          $('#clear-alfa').click(function(){
        	  $("#alfa-texto").val(""); 
          });

          $('#clear-beta').click(function(){
        	  $("#beta-texto").val(""); 
          });
            

          $('#alfa-texto').keypress(function(){
             $('#tipo-sequencia-alfa-texto').attr('checked', true);
          });
          $('#beta-texto').keypress(function(){
             $('#tipo-sequencia-beta-texto').attr('checked', true);
          });


          $('[data-toggle="tooltip"]').tooltip();

          $('#alfa').filer({
              showThumbs: true,
              addMore: false,
              allowDuplicates: false,
              limit: 1,
              maxSize: null,
              appendTo: null,
              progressBar: '<div class = "bar"></div>',
              itemAppendToEnd: false,
              removeConfirmation: false
          });

          $('#beta').filer({
              showThumbs: true,
              addMore: true,
              allowDuplicates: false,
              limit: 10,
              maxSize: null,
              showThumbs: true,
              appendTo: null,
              progressBar: '<div class = "bar"></div>',
              itemAppendToEnd: false,
              removeConfirmation: false
          });

          $("#k, #jInicio, #jFim, #distancia, #limite").on('keypress', function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
               return false;
            }
          });

          $('#distancia, #limite').on('keyup', function(){
            $('#mostrar-distancia').prop('checked', $('#distancia').val().length > 0);
            $('#limite-caracteres').prop('checked', $('#limite').val().length > 0);
          });


          $("#todas-posicao").change(function(){
            if(this.checked) {
              $("#opcoes").hide();
            }
          });

          $("#uma-posicao").change(function(){
            if(this.checked) {
              $("#opcoes").show();
            }
          });

          $("#processar-top").click(function(){
            $('.div-ajax-carregamento-pagina').show();
            $( "#formulario" ).submit();
           
            $('#cancelar').click(function(){
                $(location).attr('href', '/')
            });
          });

          $("#recuperar-top").click(function(){
            $('.div-ajax-carregamento-pagina').show();
          });

        });
</script>