#{extends 'main.html' /}
#{set title:'Web Primers [início]' /}

<link href="@{'/public/stylesheets/jquery.filer.css'}" rel="stylesheet">
<script src="@{'/public/javascripts/jquery.filer.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<!--<link href="@{'/public/stylesheets/uploadfile.css'}" rel="stylesheet">-->
<!--<script src="@{'/public/javascripts/jquery.form.js'}" type="text/javascript" charset="${_response_encoding}"></script>-->
<!--<script src="@{'/public/javascripts/jquery.uploadfile.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>-->

<div class="div-ajax-carregamento-pagina">
  <div id="dialog" title="Processamento">
    <p>Aguarde, processando...</p>
  </div>
</div>

<div class="container-fluid">
  <div class="page-header">
    <h1>Web <small>Sistema de seleção de regiões específicas</small></h1>
  </div>

  #{form @Application.process(), enctype:'multipart/form-data'}

    <div class="panel panel-default panel-success">
      <div class="panel-heading">Adicione os parametros necessarios para iniciar</div>
      <div class="panel-body">

        <div class="form-group">
          <label for="alfa" class="col-sm-2 control-label">Sequência alvo:</label>
          <div class="col-sm-10">
            <input id="alfa" type="file" class="form-control file" name="parametro.alfa">
            <span class="help-block">Selecione um arquivo de texto de sequência de DNA.</span>
          </div>
        </div>
        <div class="form-group">
          <label for="beta" class="col-sm-2 control-label">Sequência(s):</label>
          <div class="col-sm-10">
            <input id="beta" type="file" class="form-control file"
                   name="parametro.beta[]" multiple="multiple" >
            <span class="help-block">Selecione um arquivo de texto de sequência de DNA.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="k" class="col-sm-2 control-label">Diferenças:</label>
          <div class="col-sm-1">
            <input id="k" type="text" class="form-control" placeholder="1" name="parametro.k">
            
          </div> 
          <span class="help-block">Digite a quantidade de diferenças desejada do primer para qualquer segmento da sequência BETA.<br/>
          O valor deve estar entre 1 e o tamanho de ALFA.</span>
        </div>
      </div>
    </div>

    <div class="panel panel-default panel-info">
      <div class="panel-heading">Opções</div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-6">
            <div class="bs-callout bs-callout-warning">
              <h4>Tipos de sequência</h4>
            </div>
            <label class="radio-inline">
              <input type="radio" name="parametro.tipoKdiference" id="sequencia-diferente"
                     data-toggle="tooltip" title="k-difference-prime-1"
                     value="1" checked> Sequências diferentes
            </label>
            <label class="radio-inline">
              <input type="radio" name="parametro.tipoKdiference" id="sequencia-semelhante"
                     data-toggle="tooltip" title="k-difference-prime-2"
                     value="2"> Sequências semelhantes
            </label>
            <label class="radio-inline">
              <input type="radio" name="parametro.tipoKdiference" id="heuristica"
                     data-toggle="tooltip" title="k-difference-prime-heuristica"
                     value="3"> Heurística
            </label>
          </div>

          <div class="col-md-6">
            <div class="bs-callout bs-callout-warning">
              <h4>Posições</h4>
            </div>
            <div class="radio">
              <input type="radio" name="parametro.tipoProcessamento" id="todas-posicao" value="1" checked>
              Processar todas as posições possiveis.
            </div>
            <div class="radio">
              <input type="radio" name="parametro.tipoProcessamento" id="uma-posicao" value="2">
              Selecionar uma posição e uma distância.
            </div>

            <div class="form-group" id="opcoes">
              <div>
                <label for="j" class="col-sm-2 control-label">Índice j:</label>
                <div class="col-sm-2">
                    <input id="j" type="text" class="form-control" name="parametro.j">
                </div>

                <label for="distancia" class="col-sm-2 control-label">Distância:</label>
                <div class="col-sm-2">
                    <input id="distancia" type="text" class="form-control" name="parametro.distancia">
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="checkbox" style="margin-left: 25px;">
            <label>
              <input type="checkbox" name="parametro.regioesTamanhoFixo"> Devolver regiões de tamanho entre certos valores (1.000 a 2.000)
            </label>
          </div>

          <div class="checkbox" style="margin-left: 25px;">
            <label>
              <input type="checkbox" name="parametro.maiorMenor"> Devolver maior/menor região
            </label>
          </div>

        </div>
      </div>
    </div>

      <div class="pull-right">
        <input id="processar" class="btn btn-primary" type="submit" value="Processar">
      </div>

  #{/form}
</div>

      <script>
        $( document ).ready(function() {

           $('[data-toggle="tooltip"]').tooltip();

          $('#alfa').filer({
              showThumbs: true,
              addMore: false,
              allowDuplicates: false,
              limit: 1,
              maxSize: null,
              appendTo: null,
              progressBar: '<div class = "bar"></div>',
              itemAppendToEnd: false,
              removeConfirmation: false
          });

          $('#beta').filer({
              showThumbs: true,
              addMore: true,
              allowDuplicates: false,
              limit: 10,
              maxSize: null,
              showThumbs: true,
              appendTo: null,
              progressBar: '<div class = "bar"></div>',
              itemAppendToEnd: false,
              removeConfirmation: false
          });

          $("#k, #j, #distancia").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
               return false;
             }
          });


          $("#todas-posicao").change(function(){
            if(this.checked) {
              $("#opcoes").hide();
            }
          });

          $("#uma-posicao").change(function(){
            if(this.checked) {
              $("#opcoes").show();
            }
          });

          $("#processar").click(function(){
            $('.div-ajax-carregamento-pagina').show();
            $( "#dialog" ).dialog();
          });

          $('.div-ajax-carregamento-pagina').hide();
          $("#opcoes").hide();
        });
      </script>