#{extends 'main.html' /}
#{set title:'Web Primers [Ocorrências de beta]' /}
#{set pagina:'Ocorrências de beta ' + beta.nome /}

#{set 'controles'}
    <a id="voltar" href="/processamento/${processamento.id}" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
#{/set}

<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="width: 20px"></th>
                <th style="width: 40px">Pos.</th>
                <th style="width: 40px">Tam.</th>
                <th style="width: 20px"></th>
                <th>Segmento</th>
            </tr>
        </thead>
        <tbody>
            #{list items:ocorrencias, as:'ocr'}
                <tr>
                    <td>
                        #{if ocr.resultado != null }
                            <span class="glyphicon glyphicon-pushpin""></span>
                        #{/if}
                    </td>
                    <td>${ocr.j}</td>
                    <td>${ocr.r}</td>
                    <td>
                        <a href="/processamento/beta/${ocr.id}/txt" class="salvar"
                           title="Clique aqui para salvar este segmento em arquivo.">
                            <span class="glyphicon glyphicon-save-file"></span>
                        </a>
                    </td>
                    <td style="font-size: 10px">
                        <span style="word-break: break-all;">
                            ${ocr.segmento}
                        </span>
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
</div>

<script>
   $( document ).ready(function(){
      $("#voltar").click(function(){
         $('.div-ajax-carregamento-pagina').show();
      });
   });
</script>