#{extends 'main.html' /}
#{set title:'Web Primers [Processando]' /}

<div class="container-fluid">
    <div class="page-header">
        <h1>Web Primers <small>Sistema de seleção de primers</small></h1>
    </div>
    <div>
        <label class="label label-default">Programa:</label>
        <span>${programa}</span>
    </div>
  <div>
    <ul class="nav nav-tabs">
      <li class="active">
          <label class="btn btn-primary"> Sequência alfa <span class="badge">${alfa.quantidadeCaracteres}</span></label>
     #{if (alfa.fasta)} <label class="label label-info">FASTA</label> #{/if}
          <label class="label ">${alfa.nome}</label>
      </li>
    </ul>
      <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" style="width: 100%">
              alfa
          </div>
      </div>
      <div class="controle">
          <p class="sequencia">${alfa.sequencia}</p>
          <div class="resultado">
              <ul >
                  #{list items:re, as:'re'}
                  <li style="margin-left: ${re.j * 6}px;">${re.sequencia}</li>
                  #{/list}
              </ul>
          </div>
      </div>

  </div>

  <div>
      <label class="btn btn-warning">Sequência beta <span class="badge">${beta.quantidadeCaracteres}</span></label>
      #{if (beta.fasta)} <label class="label label-info">FASTA</label> #{/if}
    <p style="font-size:8px">${beta.sequencia}</p>
  </div>

</div>

  