#{extends 'main.html' /}
#{set title:'Web Primers [Resultados]' /}
#{set pagina:'Resultados do processamento ' + processamento.id /}

#{set 'controles'}
    <a id="voltar" href="/processamento/${processamento.id}" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
#{/set}

#{set 'table-header'}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th style="width: 50px;">Seq.</th>
            <th style="width: 60px;">Pos.</th>
            <th style="width: 60px;">Tam.</th>
            <th>Segmento</th>
            <th style="width: 20px"></th>
        </tr>
        </thead>
    </table>
#{/set}

<div>
    <table id="table" class="table table-striped table-hover">
        <tbody>

        </tbody>
    </table>
</div>

<script>
   $( document ).ready(function(){

      $(".head").css("height", "195px");

      $("#voltar").click(function(){
         $('.div-ajax-carregamento-pagina').show();
      });

      function carregar(pagina){
          $.getJSON( "/resultado-json/${processamento.id}/" + pagina, function( data ) {
               var restante = data.restante;
               for (var i = 0; i < data.lista.length; i++) {
                   var texto = '<tr><td style="text-align: center; width: 50px">' + data.lista[i].posicao + '</td>';
                       texto +='<td style="width: 60px">' + data.lista[i].j + '</td>';
                       texto +='<td style="width: 60px">' + data.lista[i].r + '</td>';
                       texto += '<td style="font-size: 10px" class="' + data.lista[i].classe + '">';
                       texto += '<span class="segmento">' + data.lista[i].segmento + '</span>';
                       texto += '</td><td>';
                       texto += '<a href="/processamento/resultado/' + data.lista[i].id + '/txt" class="salvar"';
                       texto += 'title="Clique aqui para salvar este segmento em arquivo.">';
                       texto += '<span class="glyphicon glyphicon-save-file"></span></a>';
                       texto +='</td></tr>';
                    $('#table').find('tbody').append(texto);
                }
                console.log(restante);
                $('.body').unbind('scroll');
                if(restante > 0){
                    $('.body').scroll(function(){

                      if($('#table').height() - $('.body').scrollTop() == 574)
                        carregar(pagina + 1);
                    });
                }
          });
      }
      carregar(1);
   });
</script>