<!DOCTYPE html>
<meta charset="utf-8">

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <script src="@{'/public/javascripts/jquery-3.1.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/bootstrap-3.3.7-dist/js/bootstrap.min.js'}" type="text/javascript"></script>
               
        <link rel="stylesheet" media="screen" href="@{'/public/bootstrap-3.3.7-dist/css/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>

    <div class="div-ajax-carregamento-pagina">
        <div id="dialog" title="Processamento">
            <img src="/public/images/Loading_icon.gif" />
            <p>Aguarde, processando...</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="head">
            <div class="page-header">
                <div class="logo">
                    <img src="/public/images/dna.png" width="100px" />
                    <h1>Web Primer</h1>
                    <small>Sistema de seleção de regiões específicas</small>
                </div>
                <!--<div class="config">-->
                    <!--<div class="btn btn-default">-->
                        <!--<span class="glyphicon glyphicon-wrench"></span>-->
                        <!--<span class="glyphicon-class">Configurações</span>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="info">
                    <div>Trabalho de mestrado em Ciência da Computação</div>
                    <div>FACOM - UFMS (2015 - 2016)</div>
                    <div>Aluno: Jean Alexandre Dobre</div>
                    <div>Orientador: Prof. Dr. Said Sadique Adi</div>
                </div>
            </div>
            <div class="titulo">
                #{get 'pagina' /}
                <div class="pull-right" style="margin-right: 10px">
                    #{get 'controles' /}
                </div>
            </div>
            #{get 'table-header' /}
        </div>
        <div class="body">
            #{doLayout /}
            #{get 'body' /}
            #{get 'moreScripts' /}
        </div>
        <div class="direitos">2016 - Todos os direitos autorais reservados</div>
    </div>
    </body>
    <script>
        $( document ).ready(function() {
          $('.div-ajax-carregamento-pagina').hide();

          var alt = $( document ).height();
          var size = $(".head").height() + 5;
          $(".body").css("top", size);
          $(".body").css("height", alt - size);

          $( window ).resize(function() {
             var alt = $( document ).height();
             var size = $(".head").height() + 5;
             $(".body").css("height", alt - size);
          });
        });
    </script>

</html>
