<!DOCTYPE html>
<meta charset="utf-8">

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <script src="@{'/public/javascripts/jquery-3.1.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/bootstrap-3.3.7-dist/js/bootstrap.min.js'}" type="text/javascript"></script>
               
        <link rel="stylesheet" media="screen" href="@{'/public/bootstrap-3.3.7-dist/css/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
        #{doLayout /}
        
        #{get 'moreScripts' /}

        <hr />
        <div style="text-align: center">
            <div>Trabalho de mestrado em Ciência da Computação</div>
            <div>FACOM - UFMS</div>
            <div>2016 - Todos os direitos autorais reservados</div>
        </div>
    </body>

</html>
